<% @principals = role.principals_by_global_roles %>
<% @global_roles = role.global_roles %>

<%= content_tag(:div, js_err, :id => "errorExplanation") if local_assigns[:js_err] && !js_err.nil? %>

<div>
  <div class="splitcontentleft" style="width:65%;">
    <% if @principals != [] %>
      <table class="list relations">
        <thead>
          <tr>
            <th><%= l(:label_user) %> / <%= l(:label_group) %></th>
            <th style="width:15%"></th>
          </tr>
        </thead>
        <tbody>
        <% @principals.each do |principal| %>
          <% global_role = @global_roles.where(user_id: principal.id).first %>
          <tr id="principal-<%= principal.id %>" class="<%= cycle 'odd', 'even' %>">
          <% group_class = principal.instance_of?(Group) ? "glr-group" : "" %>
            <td class="principal-name <%= group_class %>">
              <% if principal.instance_of?(User) %>
                <%= link_to(principal.name, edit_user_path(principal)) %></td>
              <% elsif principal.instance_of?(Group) %>
                <%= link_to(principal.name, edit_group_path(principal)) %></td>
              <% end %>
            <td class="buttons">
              <%= link_to("<span>#{l(:button_delete)}</span>".html_safe, "destroy_global_role/#{global_role.id}", :method => :delete, :remote => true, :class => "in_link icon icon-del" ) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p id="no_relation_groups_records" class="nodata"><%= l(:label_no_data) %></p>
    <% end %>
  </div>
  <div class="splitcontentright" style="width:30%;">
    <%= form_tag({:action => "create_global_role"},{:id =>'select_users', :remote => true}) do %>
      <fieldset>
        <legend><strong> <%= l(:label_user) %> / <%= l(:label_group) %> </strong></legend>
        <p><%= text_field_tag('filter_users_global_roles', '', :class => 'find-filter') %></p>
          <div id="users-list-global-roles" class="glr-list-container">
            <%= render_principals_for_global_role(@principals) %>
          </div>
        <p>
          <%= submit_tag(l(:label_add_item), :id => 'record_add', :class => 'btn-def') %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>